[Desktop Entry]
Name=Docker Control
Comment=Controls Docker Container
Encoding=UTF-8
Icon=format-text-code
ServiceTypes=Plasma/Applet
Type=Service
X-KDE-PluginInfo-Author=David Baum
X-KDE-PluginInfo-Email=david.baum@naraesk.eu
X-KDE-PluginInfo-Name=eu.naraesk.docker-control
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Version=1.1.1
X-KDE-PluginInfo-Website=https://github.com/naraesk/plasma-docker
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
